<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>InfoInternalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.info.servlets.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  
  	<servlet>
		<servlet-name>MyTestInit</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
		<init-param>
			<param-name>email</param-name>
			<param-value>Rohit@accenture.com</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>FirstMVCservlet</servlet-name>
		<servlet-class>com.rohit.FirstMVCservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSTLServlet</servlet-name>
		<servlet-class>com.rohit.JSTLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSTLServlet</servlet-name>
		<url-pattern>/JSTLServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyTestInit</servlet-name>
		<url-pattern>/firstJsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirstMVCservlet</servlet-name>
		<url-pattern>/FirstMVCservlet</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>AdminEmail</param-name>
		<param-value>R.kumar.chaudhari@accenture.com</param-value>
	</context-param>
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/ArithmeticException.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>



	<error-page>
		<error-code>404</error-code>
		<location>/PageNotFound.jsp</location>
	</error-page>
  
</web-app>